.totals-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.candidates-box{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}