.header-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.1;
    padding: 20px;
    background-color: teal;
    color: white;
}